<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de familiares:</h1>
    <h2>Primer familiar:</h2>
    <h3>Nombre: {{ Nombre1 }}</h2>
    <h3>Edad: {{ Edad1 }}</h2>
    <h3>Fecha de nacimiento: {{ Fecha_nacimiento1 }}</h2>
    
    <h2>Segundo familiar:</h2>
    <h3>Nombre: {{ Nombre2 }}</h2>
    <h3>Edad: {{ Edad2 }}</h2>
    <h3>Fecha de nacimiento: {{ Fecha_nacimiento2 }}</h2>

    <h2>Tercer familiar:</h2>
    <h3>Nombre: {{ Nombre3 }}</h2>
    <h3>Edad: {{ Edad3 }}</h2>
    <h3>Fecha de nacimiento: {{ Fecha_nacimiento3 }}</h2>

</body>
</html>